.buttonSend {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
  background-color: powderblue;
}

p {
  margin-bottom:50px
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

